.login-container { background-color: #fff; width: 400px;
  padding: 30px; border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); text-align: center;
  animation: fadeIn 0.5s ease-in-out;
  }
   
  .login-container h1 { color: #6e8efb; margin-bottom: 20px; font-size: 28px;
  }
  
  .input-field { width: 100%; padding: 10px;
  margin-bottom: 20px; border: 1px solid #ddd; border-radius: 30px; outline: none;
  font-size: 16px; background: #f9f9f9;
  }
  
  
  .input-field:focus { border-color: #6e8efb; background: #fff;
  box-shadow: 0 0 8px rgba(110, 142, 251, 0.6);
  }
  
  .submit-button { padding: 10px 20px;
  background: linear-gradient(90deg, #6e8efb, #a777e3); color: white;
  border-radius: 30px; font-size: 16px;
   
  border: none; cursor: pointer;
  }
  
  
  .submit-button:hover {
  background: linear-gradient(90deg, #a777e3, #6e8efb); box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  }
  
  .toggle-button { background: none; border: none; color: #6e8efb; font-size: 14px; cursor: pointer;
  }
  